<div class="books-main-container w-full mt-8 pt-8">
  <div class="flex flex-col">
    <p class="text-center text-3xl font-bold mb-5">Explore Our Books</p>
    <p class="text-center text-sm font-semibold mb-5">With our dedicated customer support team, you can rest easy knowing that we’re doing everything <br>
      we can to save you time, money, and stress
    </p>
  </div>
  <div class="flex justify-end mr-10 mb-12">
    <img class="books-arrow" src="../assets/XMLID_2331_.svg">
    <p id="inquire" class="font-serif text-sm text-right mb-12">Inquire us now to <br> avail discounts!</p>
  </div>

  <%# books %>
  <div class="flex">
    <div class="flex flex-col items-center">
      <img class="books-img" src="../assets/doughnuts-&-doom.png">
      <div class="flex flex-col mt-5">
        <p class="text-lg font-extrabold text-white">Doughnuts And Doom</p>
        <p class="text-sm text-sky-300">View Book Details ></p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img class="books-img" src="../assets/the-bend-of-luck.png">
      <div class="flex flex-col mt-5">
        <p class="text-lg font-extrabold text-white">The Bend Of Luck</p>
        <p class="text-sm text-sky-300">View Book Details ></p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img class="books-img" src="../assets/the-underwater-welder.png">
      <div class="flex flex-col mt-5">
        <p class="text-lg font-extrabold text-white">The Underwater Welder</p>
        <p class="text-sm text-sky-300">View Book Details ></p>
      </div>
    </div>
  </div>

  <%# why shop %>
  <div class="w-full pl-12 pb-12">
    <div class="flex flex-col mt-12 pt-12 ml-8 mb-8">
      <p class="text-left ml-5 text-md text-yellow-300 mb-2">LOREM IPSUM</p>
      <p class="text-left ml-5 text-3xl text-white font-extrabold mb-5">3 Reasons To Shop With Us</p>
    </div>
    <div class="flex">
      <div class="flex flex-col items-start ml-12">
        <img class="shop-images" src="../assets/package-box.svg">
        <div class="flex flex-col mt-5">
          <p class="text-lg font-bold text-white">All textbook rentals come <br>
            with free return shipping.
          </p>
          <p class="text-sm text-white mt-5">Lorem ipsum dolor sit amet, consetetur <br>
            sadipscing elitr, sed diam nonumy eirmod tempor <br>
            invidunt ut labore et dolore Stet clita kasd <br>
            gubergren, no sea takimata.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-start ml-12">
        <img class="shop-images" src="../assets/help.svg">
        <div class="flex flex-col mt-5">
          <p class="text-lg font-bold text-white">Dedicated customer <br>
            support and help portal.
          </p>
          <p class="text-sm text-white mt-5">Lorem ipsum dolor sit amet, consetetur <br>
            sadipscing elitr, sed diam nonumy eirmod tempor <br>
            invidunt ut labore et dolore Stet clita kasd <br>
            gubergren, no sea takimata.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-start ml-12">
        <img class="shop-images" src="../assets/piggy-bank.svg">
        <div class="flex flex-col mt-5">
          <p class="text-lg font-bold text-white">Buy or rent cheap textbooks <br>
            & save up to $500 per year!
          </p>
          <p class="text-sm text-white mt-5">Lorem ipsum dolor sit amet, consetetur <br>
            sadipscing elitr, sed diam nonumy eirmod tempor <br>
            invidunt ut labore et dolore Stet clita kasd <br>
            gubergren, no sea takimata.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
 