<div class="hero-main-container pb-12">
  <div class="relative overflow-hidden pt-2 pb-12">
    <div class="relative">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
          <div>
            <div class="mt-6">
              <h1 class="text-6xl font-bold tracking-tight text-indigo-900 mb-4">The Cheapest Textbooks</h1>
              <h3 class="text-3xl font-bold tracking-tight text-indigo-600">Save up To 90% On Millions Of Titles</h3>
              
              <p class="mt-4 text-lg text-indigo-900 font-semibold tracking-wide">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
              <div class="mt-6">
                <a href="#" class="inline-flex rounded-lg bg-indigo-600 px-5 py-3 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
                  Get started
                  <img class="svg ml-2" src="../assets/path-329.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
         <div class="flex justify-end mr-10 mb-12"> 
           <p id="inquire" class="font-serif text-sm mt-7 mr-2 text-right">Inquire us now to <br> avail discounts!</p>
           <%# <img class="h-10 w-auto" src="../assets/XMLID_2331_.svg"> %>
           <%= image_tag("XMLID_2331_.svg", class: "h-10 w-auto") %>
         </div>
          <img class="w-screen xs:absolute xs:left-0 xs:h-full xs:w-auto xs:max-w-none" src="../assets/hero-illustration.svg" alt="Inbox user interface">
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0">
          <div>
            <div class="mt-6">
              <h2 class="text-5xl font-bold tracking-tight text-white">Our Commitment</h2>
              <p class="mt-4 text-lg text-white font-semibold tracking-wide">Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et
                dolore magna aliquyam erat, sed diam voluptua. At
                vero eos et accusam et justo duo dolores et ea rebum.
              </p>
              <div class="mt-6">
                <a href="#" class="inline-flex rounded-lg bg-indigo-600 px-5 py-3 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
                  Learn More
                  <img class="svg ml-2" src="../assets/path-329.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
          <div class="md:-ml-48 md:pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            <img class="w-screen xs:absolute xs:right-0 xs:h-full xs:w-auto xs:max-w-none" src="../assets/group-13597.png" alt="Customer profile user interface">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8">
      <h1 class="text-4xl text-center mb-12 text-white font-bold">Trusted By Awesome <span style="color:gold"> Clients </span> </h1>
      <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-6">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <svg id="Group_13703" data-name="Group 13703" xmlns="http://www.w3.org/2000/svg" width="52.723" height="52.724" viewBox="0 0 52.723 52.724">
            <path id="Path_9173" data-name="Path 9173" d="M30.369,22.154l10.24-10.236L50.853,22.162,56.808,16.2,40.609,0,24.41,16.2Z" transform="translate(-14.243)" fill="#fff"/>
            <path id="Path_9174" data-name="Path 9174" d="M0,0H8.424V8.424H0Z" transform="translate(0 26.363) rotate(-45)" fill="#fff"/>
            <path id="Path_9175" data-name="Path 9175" d="M30.357,73.4,40.6,83.644,50.842,73.4,56.8,79.351l0,0-16.2,16.2L24.4,79.363l-.008-.008Z" transform="translate(-14.231 -42.834)" fill="#fff"/>
            <path id="Path_9176" data-name="Path 9176" d="M0,0H8.424V8.424H0Z" transform="translate(40.809 26.364) rotate(-45)" fill="#fff"/>
            <path id="Path_9177" data-name="Path 9177" d="M60.873,54.827,54.831,48.78l-4.468,4.468-.516.512-1.058,1.058-.008.008.008.012,6.042,6.038,6.042-6.047,0,0Z" transform="translate(-28.465 -28.467)" fill="#fff"/>
          </svg>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Binance</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="../assets/bitcoin.svg" alt="Bitcoin">
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Bitcoin</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="../assets/solana-sol-logo.svg" alt="Solana">
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Solana</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="../assets/ethereum.svg" alt="Ethereum">
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Ethereum</span>
        </div>
        <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="../assets/tether-usdt-logo.svg" alt="Tether">
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Tether</span>
        </div>
        <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="../assets/xrp.svg" alt="XRP">
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">XRP</span>
        </div>
      </div>
    </div>
  </div>
</div>
